bump2version
coverage
flake8
git+https://${GH_TOKEN}@github.com/squidfunk/mkdocs-material-insiders.git
grip
ipykernel
livereload
nbconvert==6.5
pip
sphinx
tox
twine
watchdog
wheel
mkdocs
mkdocs-git-revision-date-plugin 
mkdocs-jupyter 
mkdocs-material 
mkdocs-pdf-export-plugin
mkdocstrings 
mkdocstrings-crystal
mkdocstrings-python-legacy
pygments
pymdown-extensions
